.school {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 64px;
  height: auto;
  margin-right: 16px;
}

.link {
  font-size: 1.5rem;
  display: block;
  margin: 32px;
}
